.widgetBase-container {
  border: 1px red solid;
  min-height: 250px;
  align-self: start;
  margin: 15px;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}